<div class='game-board-container'>
{{game-board/game-menu
  game=game
  cards=cards
  cardsRemaining=cardsRemaining
  deleteGame='deleteGame'
  addThree='addThree'
  deck=deck
  findSet='findSet'
  findSetCards=findSetCards}}

{{!-- <h4>Selected Cards:</h4> --}}
<div class='selected-box col-md-6'>
<h4 class='selected-title'>Selected Cards:</h4>
  {{game-board/selected-box selectedCards=selectedCards}}
</div>

<div class='card-container row'>
  {{#each gameArray as |card|}}

    {{game-board/card card=card
      toggleSelect='toggleSelect'}}

  {{/each}}
</div>
</div>


{{outlet}}
