
<button class='btn reset-game' {{action 'deleteGame'}}>Restart Game</button>

<div class='selected-box'>
  {{#each selectedCards as |card|}}
    <img class="selected-card" src={{card.img}}>
  {{/each}}
</div>

<div class='col-md-12 card-container'>
{{#each gameArray as |card|}}
  {{game-board/card card=card
    toggleSelect='toggleSelect'}}
{{/each}}
</div>


{{outlet}}
