
<button class='btn' {{action 'deleteGame'}}>Restart Game</button>


{{!-- {{game-board/stats model=game}} --}}

<div class='col-md-12 card-container'>
{{#each gameArray as |card|}}
  {{game-board/card card=card
    toggleSelect='toggleSelect'}}
{{/each}}
</div>

{{outlet}}
