
<div class='game-menu'>
  <button type='button' class='btn reset-game' {{action 'deleteGame'}}>Restart Game</button>
  {{#link-to 'games' type='button' tagName='button' class='btn play-again'}}Play Again{{/link-to}}
</div>

{{!-- <h4>Selected Cards:</h4> --}}
<div class='selected-box col-md-6'>
<h4>Selected Cards:</h4>
  {{game-board/selected-box selectedCards=selectedCards}}
</div>

{{!-- <div class='clearfix'></div> --}}

<div class='card-container row'>
  {{#each gameArray as |card|}}

    {{game-board/card card=card
      toggleSelect='toggleSelect'}}

  {{/each}}
</div>


{{outlet}}
