{{hamburger-menu}}
{{#link-to "application" id='splice-title' class="navbar-brand"}}
  <span class='s'>S</span>
  <span class='p'>p</span>
  <span class='l'>l</span>
  <span class='i'>i</span>
  <span class='c'>c</span>
  <span class='e'>e</span>
  <span class='point'>!</span>
{{/link-to}}
