.find-set-box {
  border: 2px solid;
  border-color: black;
  display: inline-block;
  float: left;
  margin: auto;
  padding: 2px;
  height: 85px;
  width: 165px;

}

.found-card {
  float: left;
  margin-left: auto;
  margin-right: auto;

}

@media (max-width: 500px) {
  .find-set-box {
    border: 3px;
    margin: auto;
    height: 125px;
    width: 150px;
  }
  .found-card {
    height: 76px;
    width: 52px;
  }
}

@media (max-width: 500px) {
  .find-set-box {
    border: 3px;
    margin: auto;
    height: 125px;
    width: 150px;
  }
  .found-card {
    height: 76px;
    width: 52px;
  }
}
