.card {
  float: left;
  margin-bottom: 18px;

}

.reset-game {
  float: left;

}

.card-container {
  margin: 0 auto 250px;
  max-width: 660px;
  width: auto;
}

hr {
  color: black;
}

.play-again {
  display: none;
  margin-left: 10px;
}

.add-three {
  margin-left: 10px;
}

.game-menu {
  margin-bottom: 10px;
}
