#splice-title {
  color: #04B4AD;
  font-size: 30px;
  // margin-top: 10px;
  // padding-top: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
}
