<div class='game-menu nav-stacked'>
  <button type='button' class='menu-button reset-game' {{action 'deleteGame'}}>Restart Game</button>
  {{#if deck}}
  <button type='button' class='menu-button add-three' {{action 'addThree'}}>Add 3 Cards</button>
  {{/if}}
  <button type='button' class='menu-button find-set' {{action 'findSet'}}>Find Set</button>
  {{#link-to 'games' type='button' tagName='button' class='play-again menu-button'}}Play Again{{/link-to}}
  {{game-board/stats game=game cards=cards cardsRemaining=cardsRemaining}}
</div>
