<button {{action 'test'}}>test</button>
<p>hey</p>
<img class="selected-card" src={{card.img}}>

{{!-- {{#each selectedCards as |card|}}
  <p>yo</p>
  <img class="selected-card" src={{card.img}}>
{{/each}} --}}
