<h1>Welcome to Splice!</h1>

{{#unless isAuthenticated}}
<h3>Please sign in to start a new game</h3>
{{/unless}}

<br>

<h4>How to play:</h4>
<p>Each card has four properties: shape, color, shading, and number.</p>
<p>Select three cards where, across those 3 cards, each of the individual properties
  is either all the same, or all different.</p>


{{#link-to "games"}}Ready to play?{{/link-to}}


{{outlet}}
